# Spacefile Docs: https://go.deta.dev/docs/spacefile/v0
v: 0
micros:
  - name: notemy-api
    src: .
    engine: python3.9
    primary: true
    public_routes:
      - "/*"
    presets:
      env:
      - name: SECRET_MESSAGE
      description: Secret message only available to this Micro
      default: "actual secret"
